/* tech and sliders font */
/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
    /* letter-spacing: var(--letter-spacing);
  font-optical-sizing: auto; */

    --color-bg-dark: #0e0f1a;
    --color-bg-medium: #1d2033;
    --color-accent-magenta: #f72585;
    --color-accent-blue: #4895ef;
    --color-accent-violet: #7209b7;
    --color-text-primary: #f1f1f1;
    --color-text-secondary: #b8b8d0;
    --color-nav-bg: rgba(14, 15, 26, 0.85);
    --color-glow: #f72585;
    --card-shadow: 0 0 8px 1px var(--color-glow);
}

/* react root */
#root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.container {
    @apply mx-auto px-6 min-w-xs;
}

h1,
h2,
h3,
nav {
    font-family: "Orbitron", sans-serif;
}

main {
    padding: 1.2rem 0;
}

body {
    /* background-image: url("/background.jpg"); */
    background-image: linear-gradient(
        var(--color-bg-dark) 80%,
        var(--color-bg-medium)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: "Roboto Mono", monospace;

    color: var(--color-text-primary);
}

.pixel-glow {
    border: 4px solid transparent;
    box-shadow: 0 0 0 1px var(--color-accent-blue), 0 0 5px var(--color-glow);
    backdrop-filter: blur(5px);
}
