/* tech and sliders font */
/* @import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jersey+10&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap");
@import "tailwindcss";

:root {
  /* letter-spacing: var(--letter-spacing);
  font-optical-sizing: auto; */

  --bg-color: #070020;
  --primary-color: #7c1327;
  --secondary-color: #22032a;
  --darker: #36052b;
  --red-dark: #580d27;
  --slated-primary: #e48585;
  --slated-secondary: #f0b8b8;
  --accent-color: #c71f22;
  --text-color: #fbdfd0;
}

/* react root */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  @apply mx-auto px-6;
  max-width: 1200px;
}

h1,
h2,
h3,
nav {
  font-family: "Press Start 2P", monospace;
}

body {
  background-image: linear-gradient(180deg, var(--secondary-color) 30%, var(--primary-color) 100%);
  font-family: "Share Tech Mono", monospace;
  /* font-size: 1.2rem; */

  background-position: center;
  background-attachment: fixed;

  color: var(--text-color);
}
