/* tech and sliders font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap");
@import "tailwindcss";

:root {
    /* letter-spacing: var(--letter-spacing);
  font-optical-sizing: auto; */

    --color-bg-dark: #131a26;
    --color-bg-medium: #1a2937;
    --color-accent-blue: #09fcdc;
    --color-accent-green: #3ddc97;
    --color-accent-neon: #56fff8; /* optional for glow effects */
    --color-text-primary: #e0f6ff;
    --color-text-secondary: #a0c4db;
    --color-nav-bg: rgba(19, 26, 38, 0.95);
    --color-glow: #0ff; /* neon glow for effects */

    --bg-color: #131a26;
    --primary-color: #09fcdc;
    --secondary-color: #1a2937;
    --darker: rgba(19, 26, 38, 0.95);
    --red-dark: #3ddc97;
    --slated-primary: #e48585;
    --slated-secondary: #a0c4db;
    --accent-color: #56fff8;
    --text-color: #e0f6ff;
}

/* react root */
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    @apply mx-auto px-6 min-w-xs;
}

h1,
h2,
h3,
nav {
    font-family: "Press Start 2P", monospace;
}

body {
    background-image: linear-gradient(
        180deg,
        var(--bg-color) 70%,
        var(--darker) 100%
    );
    font-family: "Share Tech Mono", monospace;
    /* font-size: 1.2rem; */

    background-position: center;
    background-attachment: fixed;

    color: var(--color-text-primary);
}
